@font-face {
  font-family: "iconfont"; /* Project id 2843097 */
  src: url('iconfont.woff2?t=1648346194849') format('woff2'),
       url('iconfont.woff?t=1648346194849') format('woff'),
       url('iconfont.ttf?t=1648346194849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-sortdown-smal:before {
  content: "\e877";
}

.icon-arrow-down1:before {
  content: "\e7b2";
}

.icon-chazhaofangyuan:before {
  content: "\e629";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-xinwen_o:before {
  content: "\ebca";
}

.icon-jisuanqi:before {
  content: "\e809";
}

.icon-tianqiyubao08:before {
  content: "\e63d";
}

.icon-zixun:before {
  content: "\e60b";
}

.icon-dituzhaofang:before {
  content: "\e624";
}

.icon-shouye1:before {
  content: "\e68a";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-icon-:before {
  content: "\e628";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-tongyong-guanbi:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-24gf-volumeCross:before {
  content: "\ea0f";
}

.icon-24gf-volumeLow:before {
  content: "\ea11";
}

.icon-24gf-volumeHigh:before {
  content: "\ea12";
}

.icon-24gf-volumeMiddle:before {
  content: "\ea13";
}

.icon-xiaoxi:before {
  content: "\e62e";
}

.icon-shouye:before {
  content: "\e607";
}

.icon-qiandao:before {
  content: "\e609";
}

.icon-shequ-jihuo:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e643";
}

.icon-c:before {
  content: "\e683";
}

.icon-huanyihuan:before {
  content: "\e635";
}

.icon-sanjiaodown:before {
  content: "\e6b5";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-wangluo:before {
  content: "\e62b";
}

.icon-youjiantou:before {
  content: "\e612";
}

.icon-0:before {
  content: "\e627";
}

.icon-paizhao:before {
  content: "\e642";
}

.icon-yanjing-:before {
  content: "\e61e";
}

.icon-weizhi:before {
  content: "\e601";
}

.icon-31dingwei:before {
  content: "\e600";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-gouwuche:before {
  content: "\e62c";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-QQ-circle-fill:before {
  content: "\e887";
}

.icon-Word:before {
  content: "\e602";
}

.icon-PPT:before {
  content: "\e603";
}

.icon-kexuejishu:before {
  content: "\e60f";
}

.icon-heiban:before {
  content: "\e619";
}

.icon-jiangxuejin:before {
  content: "\e61c";
}

.icon-shuji:before {
  content: "\e61d";
}

